.nav {
  background-color: #b7c0d8;
  width: 200px;
  height: 100vh;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.elbrus-logo {
  padding: 10px;

  width: 60px;
  margin: 10px 0 0 0;
  height: 60px;
}

.log-out {
  margin-top: 170px;
}

.nav-item {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.nav-item:hover {
  background-color: #e8edf9;
}

.nav li {
  display: flex;
  align-items: center;
}
