.nav {
  position: absolute;
  background-color: #b7c0d8;
  width: 200px;
  height: 100%;
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.25);
}

.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.elbrus-logo {
  width: 60px;
  margin: 10px 0 0 0;
  height: 60px;
}

.log-out {
  margin-top: 170px;
}

.nav-item {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
